*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f1f3f6;
}

/* NAVBAR */
.navbar{
    background:#2874f0;
    display:flex;
    align-items:center;
    padding:10px 40px;
    gap:20px;
}

.logo img{
    height:30px;
}

.logo span{
    color:white;
    font-size:12px;
}

.logo b{
    color:yellow;
}

.navbar input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:2px;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
    color:white;
}

.login-btn{
    background:white;
    color:#2874f0;
    border:none;
    padding:6px 20px;
    font-weight:bold;
    cursor:pointer;
}

/* CATEGORY BAR */
.categories{
    background:white;
    display:flex;
    justify-content:space-around;
    padding:15px 0;
}

.cat{
    text-align:center;
    font-size:14px;
}

.cat img{
    width:50px;
}

/* BANNER */
.banner img{
    width:100%;
    margin:10px 0;
    display: block;
}

/* DEALS */
.deals{
    background:white;
    margin:10px;
    padding:15px;
}

.deals h2{
    margin-bottom:10px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.deal-items{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:16px;
    
}


.item{
    border-radius: 6px;
    overflow: hidden;
    
    background:#eee;
}
.item img{
    width:100%;
    height: auto;
    display: block; 
    object-fit:contain; 
}
footer{
    background:white;
    margin-top:40px;
    padding:30px 40px;
}

.footer-item{
    border-bottom:1px solid #ddd;
    padding:12px 0;
    font-size:14px;
}

.copy{
    text-align:center;
    margin-top:20px;
    font-size:13px;
}
